{% extends 'products/base.html' %}
{% load static %}

{% block header %}BMRZK{% endblock header %}
{% block content %}

<div class="cart-wrap">
    <div class="cart-detail-block">
        {% if cart.items %}
            <table>
                <tr>
                    <th></th>
                    <th>NAME</th>
                    <th>SIZE</th>
                    <th>PRICE</th>
                    <th></th>
                </tr>
                {% for item_id, item_data in cart.items %}
                    <tr>
                        <td><img src="{{ item_data.image }}" alt="{{ item_data.name }}" width="100px"></td>
                        <td>{{ item_data.name }}</td>
                        <td>{{ item_data.size }}</td>
                        <td>{{ item_data.price }}$</td>
                        <td>
                            <form method="POST" class="delete-item-form">
                                {% csrf_token %}
                                <button type="submit" class="remove-item-btn" onclick="return confirm('Are you sure you want to remove this item?')">&#10006;</button>
                                <input type="hidden" name="item_id" value="{{ item_id }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <h3>Your cart is empty.</h3>
        {% endif %}
    </div>

    <div class="form-group">
        {% if cart.items %}
            <form method="POST" class="order-form">
                {% csrf_token %}
                <div class="form-wrap">
                    {% for order in order_form %}

                            <div class="">
                                {{ order.label }}
                            </div>
                            <div class="">
                                {{ order.as_widget }}
                            </div>

                    {% endfor %}
                </div>

                <div class="order-info">
                    <button name="db_form" type="submit" class="create-order">Create order</button>
                    <p>Total > <b>{{ total }}</b>$</p>
                </div>
            </form>
            <div class="cart-text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Aliquam aperiam debitis dolor dolore, dolorem doloremque e
                        aque eligendi eos error est harum iure magni nemo nobis porro
                    </p>
                </div>
        {% endif %}
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('.remove-item-btn').click(function() {
      let item_id = $(this).data('item-id');
      $.ajax({
        url: '/cart/remove-from-cart/',
        method: 'POST',
        data: {
          'item_id': item_id,
          'csrfmiddlewaretoken': '{{ csrf_token }}'
        },
        success: function(response) {
          location.reload(); // перезагружаем страницу
        },
        error: function(xhr, status, error) {
          console.log(error);
        }
      });
    });
  });
</script>

{% endblock content %}





