@font-face {
        font-family: 'Underground';
        src: url('/static/online_store/fonts/UndertownPersonalUseRegular-YzBmo.ttf');
}

html{
    background-color: rgb(255, 255, 255);
    cursor: crosshair;
}

a:link{
    text-decoration: none;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.head-wrap{
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 25px 50px;
}

.cart-icon{
    max-width: 50px;
    cursor: pointer;
}

.shop_title, .shop_title > a{
    outline: none;
    padding: 55px 0;
    color: #000000;
    text-align: center;
    font-family: 'Underground', sans-serif;
    font-size: 6vw;
    margin: 0;
    text-decoration: none;
}

.card:hover{
    transition: 1s;
    outline: 1px solid #b7b7b7;
}

.card{
    cursor: pointer;
    border: none;
    margin: 25px;
    padding: 30px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 645px;
}

.item-link > *{
    color: black;
}

.card > p{
    text-align: center;
}

.pname{
    font-weight: 300;
    font-size: 3vmin;
    margin-top: 35px;
}

.card_img{
    max-width: 100%;
    height: 100%;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1;
    object-fit: contain;
}

.img-container{
    padding: 20px;
}

.desc{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.desc > a > button{
    border-radius: 10px;
    font-size: 2.2vmin;
    color: #000000;
    border: 2px solid rgb(255, 255, 255);
    transition: background-color 1s;
    background-color: #ffffff;
    height: 50px;
    min-width: 150px;
}

.desc > a > button:hover{
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    color: black;
    background-color: #ffffff;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: 1px #ffffff solid;
    cursor: pointer;
}

.dropdown {
    transition-duration: 1s;
    position: relative;
    display: inline-block;

}

.dropdown-content {
    display: none;
    font-weight: 300;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    font-weight: 500;
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    transition-duration: 1s;
    display: block;
}

.dropdown:hover .dropbtn {
    transition-duration: 0.2s;
    background-color: #b7b7b7;
}

.empty-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.empty-container > a{
    color: black;
    background-color: #ffffff;
    margin-top: 50px;
    padding: 15px 45px;
    border: 1px solid black;
    text-decoration: none;
    border-radius: 5px;
}

.detail-container{
    display: flex;
    width: 100%;
    padding: 0;

}

.img-detail-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    max-inline-size: 100%;
    block-size: auto;
    margin: auto;
}

.img-detail{
    max-width: 100%;
    height: 100%;
    max-inline-size: 100%;
    block-size: auto;
    aspect-ratio: 1;
    object-fit: contain;
}

.detail-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin-left: 120px;
    max-width: 30%;
    height: 100%;
}

.category{
    opacity: 50%;
}

.to-cart{
    color: #ffffff;
    background-color: #7c7c7c;
    padding: 5px 6px;
}

.one-click{
    color: #777777;
    background-color: #f0f0f0;
    padding: 5px 6px;
    margin-left: 10px;
}

.empty-container > p{
    margin-top: 50px;
    font-size: 25px;
}

.detail-product-text{
    text-align: center;
}

.detail-price{
    font-size: 15px;
}

@media (max-width: 1100px) {

    .detail-info {
        margin-right: 50px;
    }
}

@media (max-width: 768px) {
    .head-wrap{
        flex-direction: column-reverse;
    }

    .shop_title{
        order: 1;
        font-size: 6vw;
    }

    .dropdown{
        margin-top: 50px;
    }

    .card_img{
        width: 302px;
    }

    .img-detail-wrap{
        flex-direction: column;
    }

    .detail-info{
        margin-left: 0;
        margin-top: 50px;
        max-width: 90%;
    }

    .buy-buttons{
        margin-bottom: 10px;
    }

}


@media (max-width: 1100px) {

    .detail-info {
        margin-left: 50px;
    }
}
