{% extends 'products/base.html' %}
{% load static %}


{% block title %} BMRZK {% endblock title %}

{% block header %} BMRZK {% endblock header %}

{% block content %}

    <div class="container">
        {% for product in filtered_products %}
        <div class="card">
            <div class="imgcontainer">
                <img src="{{ BASE_DIR }}/media/photos/{{ product.image }}" alt="{{ product.name }}" class="card_img" width="342px">
            </div>
            <div class="desc">
                <p class="pname">{{ product.name }}</p>
                <p>{{ product.price }} <b>USD</b></p>
                <a><button>BUY</button></a>
            </div>
        </div>
        {% empty %}
            <div class="empty-container">
                <p>Nothing here.</p>
                <a href="{% url 'clothes_view' %}">BACK</a>
            </div>
        {% endfor %}
    </div>

{% endblock content %}

