{% extends 'products/base.html' %}
{% load static %}

{% block title %} BMRZK {% endblock title %}

{% block header %} BMRZK {% endblock header %}

{% block content %}
    <div class="detail-container">
        <div class="img-detail-wrap">
            <div class="slider" style="max-width: 342px">
                {% for photo in product.photos.all %}
                    <img src="{{ photo.image.url }}" alt="Photo" class="card_img" width="342px">
                {% empty %}
                    <p>No photos available.</p>
                {% endfor %}
            </div>
            <div class="detail-info">
                <p class="category">{{ product.product_type }}</p>
                <h2>{{ product.name }}</h2>
                <b class="detail-price">{{ product.price }}$</b>
                <div class="detail-description">{{ product.description }}</div>
                {% if product.get_sizes.count > 0 %}
                    <form method="POST">
                        {% csrf_token %}
                        {% if product.get_sizes.count > 0 %}
                            {{ size_choice_form.as_p }}
                            <button class="size-button" type="submit">Add to cart</button>
                        {% else %}
                            <b style="color: #dc0000">Sold out.</b>
                        {% endif %}
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
